name: Rust CI Reusable Workflow

on:
  workflow_call:

permissions:
  packages: write

env:
  ContainerRegistry: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-rust

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Install project dependencies
        run: ./scripts/installdeps.sh

      - name: Create output folders
        run: |
          mkdir -p dist/reports/fmt
          mkdir -p dist/reports/deny
          mkdir -p dist/tests
          mkdir -p dist/coverage/workspace
          mkdir -p dist/reports/clippy

      - name: Build and parse project
        run: ./scripts/buildNparse.sh

      - name: Run tests and generate report
        run: ./scripts/testNparse.sh

      - name: Run Clippy (lint)
        run: ./scripts/clippy_check.sh

      - name: Run format check
        run: ./scripts/fmt_check.sh

      - name: Run cargo-deny checks
        run: ./scripts/deny_check.sh

      - name: Run test coverage script
        run: ./scripts/test_coverage.sh

      - name: Upload deny report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: deny-report
          path: dist/reports/deny/deny_summary.md

      - name: Upload fmt report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fmt-report
          path: dist/reports/fmt/fmt_summary.md

      - name: Upload clippy report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: clippy-report
          path: dist/reports/clippy/clippy_summary.md

      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: dist/tests/*

      - name: Upload coverage reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: dist/coverage/*

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./timpani_rust/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          build-args: |
            TARGETARCH
          tags: |
            ${{ env.ContainerRegistry }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
